{#-
  Contenu de page avec logo Convergence en haut à gauche
-#}
{% include "partials/tags.html" %}
{% include "partials/actions.html" %}
{% if config.theme.logo and page == nav.homepage %}
<a href="{{ nav.homepage.url | url }}" class="convergence-page-logo-link" title="{{ config.site_name }}">
  <img
    src="{{ config.site_url }}assets/logo-convergence.png"
    alt="{{ config.site_name }}"
    class="convergence-page-logo"
    draggable="false"
  >
</a>
{% endif %}
{% if "\u003ch1" not in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
{{ page.content }}
{% include "partials/source-file.html" %}
{% include "partials/feedback.html" %}
{% include "partials/comments.html" %}
